name: Link Health

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.css'
      - 'docs/'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.css'
      - 'docs/'
  workflow_dispatch:
  schedule:
    # Runs at the start of each month (UTC)
    - cron: '0 0 1 * *'

jobs:
  check_urls:
    # Do not run the scheduled workflow on forks
    if: ( github.event_name != 'schedule' || github.repository_owner == 'Cockatrice' )

    name: Check URLs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --no-progress --verbose --require-https --include-fragments --include-verbatim --exclude www.reddit.com --base-url https://cockatrice.github.io -- . https://cockatrice.github.io
          jobSummary: true
